<% content_for :content do%>
  <h3>Edit Subsection</h3>
  <%form_for([@section, @subsection]) do |f| %>
    <%= f.error_messages%>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content, :class => "mceEditor" %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  
    </p>
  <% end %>
<% end %>
